body {

    width: 100%;
    min-height: 100vh;
    margin: 0;

    background-image: url(../assets/dancando-no-escuro.webp);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.Page-home{
    display: flex;
    flex-direction: column;
    gap: 350px;
}