.page-home{
    width: 100%;
    min-height: 100hv;

    background-color: black;
    background-image: url(../assets/dançando-no-escuro.webp);
    background-repeat: no-repeat;
    background-size: contain;
}