.header{
position: fixed;

    border: solid 2px black;
    /* background-color: transparent; */
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: space-between;


    padding-left: 35px;
    padding-right: 35px;
}

.logo{
    width: 100px;
    object-fit: contain;
}

.topico1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 600;

    display: flex;
    align-items: center;

    gap: 10px;
}

.topico2{
    color: white;
    font-weight: 600;   

    display: flex;
    align-items: center;
    gap: 8px;
}
