.body{
    margin: 0;
}

.header{
    position: fixed;

    background: transparent;
    background: #000000;
    background: linear-gradient(180deg,rgba(0, 0, 0, 61) 0%, rgba(0, 0, 0, 0.73) 100%);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-between;

    width: 96.4vw;

    

    padding-left: 35px;
    padding-right: 40px;
}

#logo{
    width: 100px;
    object-fit: contain;
}

.topico1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 15px;
    font-weight: 400;

    display: flex;
    align-items: center;
    

    gap: 20px;
}

.conta{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 400;  
    
    text-decoration:none;

    display: flex;
    align-items: center;
    gap: 10px;
}
