.BarraSuperiorConta{
    width: 100%;
    height: 60px;
    border: 1px solid;
    padding: 4px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

 
    
}
.BarraSuperiorConta-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
#Logo{
    object-fit: contain;
}

#Perfil{
    border-radius: 8px;
    width: 48px;
    object-fit: contain;
}