.BotaoVazado {
    display: flex;
    justify-content: center;
    padding: 10px 24px;
    border: solid 2px #999999;  
    
    color: #999999;
    font-size: 20px;
    letter-spacing: 4px;
}
