.card-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    width: 175px;

   
}

.foto-perfil {
    width: 175px;
    height: 175px;
    border-radius: 8px;
    object-fit: cover;
}

.nome-perfil {
    font-size: 22px;
    color: #999999;
}