.DetalhesConta{
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-top: 25px;
    padding-left: 25px;
    gap: 45px;
    
    font-family:Arial, Helvetica, sans-serif;

    background-color: aliceblue;
}

.conta_titulo{
    display: flex;
    flex-direction: column;
    
}

.Gerenciamento{
    
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 30px;
    gap: 25px;
    width: 1200px;

    border: solid 1px color gray;

    background-color: rgb(255, 255, 255);  
        
}

#Conta{
    font-size: 50px;
    font-weight: 700;
    color: rgb(24, 23, 23);
}

#Detalhes{
    font-size: 25px;
    font-weight: 600;
    color: rgb(134, 133, 131);
}

#Assinante{
   background: #482a9b;
    background: linear-gradient(90deg, rgba(72, 42, 155, 1) 0%, rgba(183, 83, 237, 1) 100%);
    padding: 10px 17px 10px 27px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  

    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);

}

.plano{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#tipo-lano{
    font-size: 25px;
    font-weight: 600;
    color: rgb(24, 23, 23);
    padding-left: 27px;
}

#data_Pagamento{
    font-size: 25px;
    font-weight: 600;
    color: rgb(134, 133, 131);
    padding-left: 27px;
}

.cartao{
    display: flex;
    flex-direction: row;
    padding-left: 27px;
}

#num-cartao

.gerenciar_assinatura{
    display: flex;
    flex-direction: row;
    gap: 15px;


}

#gerenciar{
    padding-left: 27px;
}



