

.conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   

    color: white;

   /*border: solid 2px red;*/
}

.logo {
    height: 30px;
    width: 20px;
    margin: 0;
}

.filme-nome{
    display: flex;
    flex-direction: column;
   
}

.nomeFilme{
    font-size: 50px;
}

.parteNome{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5px;
    padding-left: 28px;
    
   }

.nomeFilme1{
    font-size: 30px;
}

.nomeFilme2{
    font-size: 50px;
}

.infoFilme{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 35px;

}

.topico-1{
    display: flex;
    flex-direction: column;
    
}

.topico-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}


.logoNetflix{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.filme{

    font-size: 10px;
    padding-top: 9px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: 5px;
}


.nomeInfo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 500;
}
.classificacao{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 8px;
}


.speaker{
    
    border: solid 1px white;
    border-radius: 50%;
    padding: 5px;
}

.capsula{
    display: flex;
    flex-direction: row;
    gap: 13px;
    
}

.boxIdade{

    display: flex;
    padding:  2px 40px 2px 12px;
    border-left: solid 2px white;

    background-color: rgb(90, 75, 55);

    
}

.idade{
    background-color: rgb(248, 237, 80);
    padding: 3px;
    border-radius: 10%;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: black;
}

.maisInfo{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px 20px;
    border-radius: 5px;


    background-color: rgb(121, 116, 116);
    color: rgb(255, 255, 255);
}

.play{
    display: flex;
    gap: 10px;
    padding: 10px 22px;
    border-radius: 5px;

    background-color: white;
    color: black;
}

.icone1{
    height: 23px;
    width: 23px;
}

.icone2{
    height: 30px;
    width: 30px;
}