.menu-item {
    background-color: aliceblue;
    height: max-content;
    width: max-content;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 5px;
    
}
.item-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 12px 24px 32px 24px;
    
}
.item-inferior{
   
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px 12px 24px;
    gap: 15px;
   
}
.item-select{
    font-weight: 700;
}
.item-icons-select {
    color: black;
}

.item-icons{
    width: 24px;
    height: 24px;
}

.item-icons.top {
    color: black;
}

.item-icons.select {
    color: black;
}

.item-noselect {
    color: #555;
}

.item-icons.noselect {
    color: #555;
}

.item-select {
    color: black;
}

.item-top {
    color: black;
}